html{
   overflow-x: hidden;
}

body{
    padding-top: 80px;
}

#header{
    position: fixed;
    top:0;
    left:0;
    text-align: center;
    height:55px;
    width:100%;
    padding: 10px 20px;
    -webkit-box-shadow:  2px 2px 30px -10px rgba(0,0,0,0.5);
    -moz-box-shadow:  2px 2px 30px -10px rgba(0,0,0,0.5);
    box-shadow:  2px 2px 30px -10px rgba(0,0,0,0.5);
    border:1px solid #CCC;
    background: rgba(46, 109, 164, 0.21);
    background-color: #bedaef;
    background-color: #d8e5ef;
    z-index: 699;
    /* display: none; */
}

#header img{
    height: 35px;
    width: auto;
}

#langmenu{
    position: absolute;
    top:14px;
    left: 95px;
    font-size: 10px;
    text-align: left;

}

#langmenu a.active{
    color: #f50a41;
}

#close{
    position: absolute;
    top:5px;
    right:20px;
    font-size: 30px;
}

h1{
    margin-top:5px;
    font-size: 20px;
    color: #666;
    text-transform: uppercase;
}

#main{

}

h2{
    color: #f50a41;
    font-size: 21px;
    margin-top:0px;
    margin-bottom:12px;
}

.step{
    margin:20px;
    border-left: 4px solid rgba(255, 16, 67, 0.2);
    padding: 0px 20px 20px 20px;
    /*border:1px solid #EEE;*/
    clear: both;
    /*background-color:rgba(0, 0, 0, 0.03) ;*/
/*
    -webkit-box-shadow:  8px 8px 6px  rgba(0,0,0,0.4);
    -moz-box-shadow:  8px 8px 6px rgba(0,0,0,0.4);
    box-shadow:  3px 3px 6px rgba(0,0,0,0.3);
*/
}

.question-mark{
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
}
/*** YEAR SELECTION ***/
#yearselection{

}

.year-unavailable{
    padding: 11px 15px;
    color:#AAA;
}


/*** CLASS MODE SELECTION ***/
#classmodeselection input{
    margin-left:1px;
    margin-right:10px;
    float:left;
}

#classmodeselection label{
    float:left;
    margin-right:4px;
}

div.mode{
    clear: both;
}


/*** TOPIC SELECTION ***/
#topicselection{
    position: relative;
    float:left;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}


.selected-info{
    color: #AAA;
    margin-bottom:10px;
}

.ts-box{
    float:left;
    width:25%; /* 4*/
    /* width: 16.5%; /* 6 */
    font-size: 13px;
}

.ts-box:nth-child(n+5){
  display:none;
}



.topic-list-container{
    height:250px;
    margin-bottom: 10px;
}
.topic-list{
  /* padding: 10px;*/
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-box-shadow: inset 2px 2px 26px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 2px 2px 26px -10px rgba(0,0,0,0.5);
    box-shadow: inset 2px 2px 26px -10px rgba(0,0,0,0.5);
}

.ts-box:nth-child(1) .topic-list{
    background-color: rgba(27,90,133,0.1);
}
.ts-box:nth-child(2) .topic-list{
    background-color: rgba(27,90,133,0.2);
}
.ts-box:nth-child(3) .topic-list{
    background-color: rgba(27,90,133,0.3);
}
.ts-box:nth-child(4) .topic-list{
    background-color: rgba(27,90,133,0.4);
}
.ts-box:nth-child(5) .topic-list{
    background-color: rgba(27,90,133,0.5);
}

/*
Other color scheme
.ts-box:nth-child(1) .topic-list{
    background-color: rgba(21,153,154,0.3);
}
.ts-box:nth-child(2) .topic-list{
    background-color: rgba(19,144,100,0.3);
}
.ts-box:nth-child(3) .topic-list{
    background-color: rgba(36,62,149,0.3);
}
.ts-box:nth-child(4) .topic-list{
    background-color: rgba(27,90,133,0.3);
}
.ts-box:nth-child(5) .topic-list{
    background-color: rgba(27,90,133,0.3);
}
*/

.nosubitems{
    display: none;
    padding:8px 12px;
    font-style: italic;
}

.topic{
    position: relative;
    clear: both;
    white-space: nowrap;
    padding:8px;
    border-bottom:1px dotted #666;
    cursor: default;
    overflow-x: hidden;
}

.topic div{
  float:left;
}

.topic.focus{
    background-color: rgba(255,0,0,.1);
}

.tooltip.in {
}

.tooltip.top .tooltip-inner {
    background-color:rgba(46,109,164,.85);
}
.tooltip.top .tooltip-arrow {
    border-top-color: #2e6da4;;
}

.topic-name-text{
    float: left;
    white-space: nowrap;
}

.ts-box:nth-child(2) .topic,
.ts-box:nth-child(3) .topic,
.ts-box:nth-child(4) .topic,
.ts-box:nth-child(5) .topic{
    display:none;
}

.ts-box:nth-child(1) .switch{
    display: none;
}
.switch{
    display: none;
    float:right;
    margin-right:50px;
}

.checkboxes{
    width: 46px;
    float:left;
}

.checkbox{
    cursor: pointer;
    margin:0;
    width: 18px;
    height: 18px;
    background: transparent url('../img/check-off.png') no-repeat; /* 0 50% */
    background-size:100% 100% ;
}

.checkbox-depth{
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: transparent url('../img/check-all-off.png') no-repeat; /* 0 50% */
    background-size:100% 100% ;
}

.checked{
    background: transparent url('../img/check-on.png') no-repeat; /* 80% 50% */
    background-size:100% 100% ;
}

.checked-depth{
    background: transparent url('../img/check-all-on.png') no-repeat; /* 80% 50% */
    background-size:100% 100% ;
}

.checkbox-spacer{
    display: inline-block;
    width: 18px;
    height: 10px;
    float: left;
}


.all div{
    float:left;
    margin-right:4px;

}
.all .checkbox-depth{
    margin-left:0;
}

.connector{
    background-size:100% 100%;
    width:40px;
    float:right;
    height: 100%;
    opacity: .2;
}
#connector2{
    opacity: .3;
}
#connector3{
    opacity: .4;
}


span.skip-arrow{
    font-size: 24px;
    /* padding-top: 10px; */
    line-height: 0;
    padding-top: 8px;
    display: block;
}

#btn-generate{
    margin: 20px 0 0 0 ;
    clear: both;

}

.ts-box:nth-last-child(1) .accolade{
    visibility: hidden;
}



#btn-generate{
    display: none;
}


/* RESULT */
#btn-download{
    margin-top:20px;
    display: none;
}


/* REGIONS */
#regionselection{
    padding-bottom: 50px;
}

#regionselection .documentation{
    margin-bottom:6px;
}

.ms-container {
   width:50%;
    min-width: 700px;
}
.search-input{
    margin-bottom: 8px;
    width:100%;
}
#region-op-all {
    width: 50%;
}

#region-op-all a{
    float:left;
    margin: 10px 0;
}
#region-op-all a:nth-child(1){
    width: 390px;
    float:left;
    margin: 10px 0;
    display: block;
}

/*** for debugging only ***/
#qsv{
    padding:10px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width:300px;
    height:auto;
    position: fixed;
    right:0;
    bottom:0;
    z-index:9999;
    padding-bottom: 10px;
}


/* RESULT / PREVIEW */
#preview{

    width:100%;

}


iframe{
    font-family: Arial;
    font-size: 11px;

}

iframe table{
    border-spacing: 0px;
    border-collapse: collapse;
    border:0;
    border-spacing: 0px
}


::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 16px rgba(0,0,0,0.5);*/
    background-color: rgba(0,0,0,.3);
}

.nav-tabs {
    border-bottom: 0;
}


:focus,
.ui-state-focus{
outline:none;
}
li:focus{
    outline: none;

}
::-moz-focus-inner {
    border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    border:1px solid #FFF;
    font-weight: 700;
    color:#f50a41;
    font-size: 16px;
    padding-top:8px;
    outline:none;

}
.nav-tabs > li > a:hover{
    background: #FFF;
    border:1px solid #FFF;

}
.nav-tabs a.active{
    color: #337ab7;
    outline:none;
}

#copyright{
    border-top: 1px solid #999;
    margin:20px;
    font-size: 11px;
    padding-top:2px;
}




.g_C{
    height:2em;

}



#preview{
    display:none;
}

#preview table{
    width: 100%;
}

.zui-table {
    border: none;
    border-right: solid 1px #CCC;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background: rgba(46, 109, 164, .1);
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-table tbody td {
    border-bottom: solid 1px #CCC;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-wrapper {
    position: relative;
}
.zui-scroller {
    display: none;
    margin-left: 800px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 50%;
    border:1px solid #CCC;
    border:3px solid #CCC;
}

.zui-table .zui-sticky-col {
    position: absolute;
    top: auto;

}

.zui-table td, .zui-table th{
    border-left: solid 1px #CCC;
}

.zui-table tr th.zui-sticky-col{
    background: rgba(46, 109, 164, .2);


}
.zui-table .zui-sticky-col{
    overflow: hidden;

}

.zui-table thead th.region{
padding-right:0;
}

.region-holder{

    overflow: hidden;
}


.step{
    display: none;
}
.step:nth-child(1){
    display: block;
}


