.ui-tabs-vertical {
    width: 55em;
    font-family: Arial, Helvetica, sans-serif;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 20em;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border: 0;
}

.ui-widget-content {
    border: 0;
}

.ui-widget-header {
    border: 0px solid #aaa;
    background: none;
    color: #222;
    font-weight: 700;
}

#tabs {
    margin-top: 50px;
}

#tabs li a {
    outline: 0;
}

#tabs h3 {
    margin-top: 15px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: 0;
    float: left;
    width: 20em;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 0em;
    float: left;
    width: 29em;
    padding: 0 20px;
    margin-left:20px;

    -webkit-box-shadow:  1px 2px 11px -1px rgba(0,0,0,0.5);
    -moz-box-shadow:  1px 2px 11px -1px rgba(0,0,0,0.5);
    box-shadow:  1px 2px 8px -1px rgba(0,0,0,0.5);

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.ui-tabs-vertical .ui-tabs-nav li {
    margin: 0;

    -webkit-box-shadow:  1px 2px 11px -1px rgba(0,0,0,0.5);
    -moz-box-shadow:  1px 2px 11px -1px rgba(0,0,0,0.5);
    box-shadow:  1px 2px 8px -1px rgba(0,0,0,0.5);

    margin-bottom: 20px;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {

    margin-bottom: 20px;
}


.ui-tabs-vertical .ui-tabs-nav li{

}

/*.ui-tabs .ui-tabs-nav li.ui-tabs-active*/



.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
    color: #ff0033;
}

.ui-tabs-vertical .ui-tabs-nav li a:hover {
    text-decoration: underline;
}

.ui-state-focus:focus {
    outline: 1px dotted white !important
}

.ui-tabs-panel {
    min-height: 210px;
}


.ui-tabs-panel a:link, a:visited {
    text-decoration: none;
}

.ui-tabs-panel a:hover {
    text-decoration: underline;
}

.ui-tabs-panel a:active {
    color: #ff0033;
}

.subtopic-description {
    margin-top: 3px;
    margin-left: 32px;
    font-size: 12px;
}

.topic-disable {
    color: #AAA;
}

.topic-title {
    text-transform: uppercase;
}